mixin regions(data)
  #regions.regions.bg-primary.pt-lg-60&attributes(attributes)
    h4.text-white.regions__title.d-none.d-lg-block Районы
    .regions__selected.d-lg-none
      span Район:
        span#regions-selected.regions__selected-text Ломоносовский
    ul#regions-menu.regions__menu.bg-primary.d-lg-block
      li.regions__item.d-lg-none: a.regions__link(href="#"): span Все
      li.regions__item: a.regions__link(href="#"): span Тосненский
      li.regions__item: a.regions__link(href="#"): span Гатчинский
      li.regions__item.regions__item--active: a.regions__link(href="#"): span Ломоносовский
      li.regions__item: a.regions__link(href="#"): span Пушкинский
      li.regions__item: a.regions__link(href="#"): span Красносельский