.regions {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 320px;

  @include media-breakpoint-down(md) {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__item {
    transition: $transition-base;
    cursor: pointer;

    &:hover {
      background: darken($primary, 5%);
    }

    &--active {
      background: darken($primary, 10%) !important;

      .regions__link {

        @include media-breakpoint-down(md) {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    padding: 0 size-w(80, 1440);
    display: flex;
    height: 86px;
    align-items: center;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;

    @include media-breakpoint-up(xl) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 size-w(40, 1220);
    }

    @include media-breakpoint-down(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @include media-breakpoint-down(md) {
      height: 56px;
    }

    &:hover {
      color: #fff;
    }

    @include media-breakpoint-down(md) {
      height: 70px;
      opacity: .6;
      font-size: 15px;
    }
  }

  &__title {
    padding: 0 size-w(80, 1440);

    @include media-breakpoint-up(xl) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 size-w(40, 1220);
    }

    @include media-breakpoint-down(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @include media-breakpoint-down(md) {
      margin: 0;
      padding-right: 0;
      width: auto;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      width: 100%;
    }
  }

  &__selected {
    position: relative;
    padding: 0 size-w(80, 1440);
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 size-w(40, 1220);
    }

    @include media-breakpoint-down(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }

    &:after {
      margin-top: 4px;
      margin-left: auto;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      background-image: url(../img/arrow-drop-s.svg);
      background-repeat: no-repeat;
      background-position: center center;
      transition: $transition-base;
    }

    &--active {

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &__selected-text {
    padding-left: 5px;
    opacity: .6;
    font-size: 15px;
    font-weight: normal;
  }
}
