@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/subset-ObjectSans-Regular.woff2') format('woff2'),
    url('../fonts/subset-ObjectSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/subset-ObjectSans-Heavy.woff2') format('woff2'),
    url('../fonts/subset-ObjectSans-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
