h1 {
  margin-bottom: em(56, 64);
  font-size: size-w(64, 1440);
  line-height: 1;
  font-weight: bold;
  color: $dark;

  @include media-breakpoint-up(xl) {
    font-size: 56px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }

  a {
    color: inherit;
  }
}

h2 {
  margin-bottom: em(40, 36);
  font-size: 21px;
  line-height: em(41, 36);
  font-weight: bold;
  color: $dark;

  @include media-breakpoint-up(xl) {
    font-size: 36px;
  }

  @include media-breakpoint-up(sm) {
    font-size: size-w(36, 1440);
  }

  a {
    color: inherit;
  }
}

h3 {
  margin-bottom: 1em;
  font-size: 21px;
  line-height: em(27, 24);
  font-weight: bold;
  color: $dark;

  @include media-breakpoint-up(md) {
    font-size: size-w(24, 1440);
  }

  a {
    color: inherit;
  }
}

h4 {
  margin-bottom: 1em;
  font-size: size-w(21, 1440);
  line-height: em(26, 21);
  font-weight: bold;
  color: $dark;

  @include media-breakpoint-up(xl) {
    font-size: 21px;
  }

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }

  a {
    color: inherit;
  }
}

h5 {
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: $dark;

  a {
    color: inherit;
  }
}

h6 {
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  color: $dark;

  a {
    color: inherit;
  }
}

p {
  font-size: 15px;
  line-height: 25px;
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
  color: #24a3ff;
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.top-border {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.right-border {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.left-border {
  border-left: 1px solid rgba(0, 0, 0, .1);
}
