html {
}

body {
  padding-top: 100px;
  font-family: 'ObjectSans', sans-serif;
  font-size: 15px;
  line-height: normal;
  color: #616161;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
}
