.container-fluid {
  padding: 0 size-w(80, 1440);
  max-width: 1600px;

  @include media-breakpoint-up(xl) {
    padding-right: 80px;
    padding-left: 80px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 size-w(40, 1220);
  }

  @include media-breakpoint-down(sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.text-muted {
  opacity: .5;
  color: $dark !important;
}

.btn--front {
  position: relative;
  padding-left: 40px;
  text-transform: uppercase;

  @include transition;

  &:hover {
    padding-left: 55px;

    &:before {
      width: 37px;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 24px;
    height: 2px;
    content: '';
    background-color: rgba(#0093ff, .8);
    border-radius: 2px;

    @include transition;
  }

  @include media-breakpoint-down(sm) {
    font-size: 11px;
  }
}

.btn-download {
  padding-left: 20px;
  font-size: 14px;
  color: #0094ff;
  background-image: url(../img/info-download.svg);
  background-repeat: no-repeat;
  background-position: 0 1px;

  span {
    color: #9c9c9c;
  }
}
