.pagination {
  margin-top: 65px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    margin-bottom: 65px;
  }

  &__arrow {
    display: block;
    width: 12px;
    height: 21px;
    background: url('/img/pagination-arrow.svg') no-repeat 0 0 transparent;

    @include transition();

    &:hover {
      opacity: .7;
    }

    &--prev {
      margin-right: size-w(24, 1400);

      @include media-breakpoint-up(xl) {
        margin-right: 24px;
      }
    }

    &--next {
      margin-left: size-w(24, 1400);
      transform: rotate(180deg);

      @include media-breakpoint-up(xl) {
        margin-left: 24px;
      }
    }
  }

  &__item {
    margin: 0 8px;
  }

  &__link {
    font-size: em(16, 15);
    color: rgba(31, 31, 31, .5);

    @include transition();

    &:hover {
      opacity: .7;
      color: rgba(31, 31, 31, .5);
    }

    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }

    &--active {
      color: $primary;
    }
  }
}
