mixin pagination(data)
  .pagination&attributes(attributes)
    a(href="#").pagination__arrow.pagination__arrow--prev
    .pagination__item: a.pagination__link.pagination__link--active(href="#") 1
    .pagination__item: a.pagination__link(href="#") 2
    .pagination__item: a.pagination__link(href="#") 3
    .pagination__item: a.pagination__link(href="#") 4
    .pagination__item= '...'
    .pagination__item: a.pagination__link(href="#") 7
    a(href="#").pagination__arrow.pagination__arrow--next