.offer {
  padding-top: size-w(188, 1440);
  padding-bottom: size-w(137, 1440);

  @include media-breakpoint-up(xl) {
    padding-top: 188px;
    padding-bottom: 137px;
  }

  @include media-breakpoint-only(xs) {
    padding-top: 63px;
    padding-bottom: 72px;
  }

  &--light {
    background-color: $secondary;
  }

  &--dark {
    background-color: #003662;
  }

  &__type {
    padding-bottom: 21px;
    font-size: 11px;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);

    @include media-breakpoint-only(xs) {
      font-size: 9px;
    }
  }

  h2 {
    margin-bottom: em(30, 36);
    color: #fff;

    @include media-breakpoint-only(xs) {
      font-size: 21px;
      line-height: 25px;
    }
  }

  p {
    margin-bottom: em(30, 15);
    font-size: 15px;
    line-height: 23px;
    color: #fff;

    &:after {
    }
  }

  a {
    position: relative;
    margin-top: 10px;
    padding-left: 33px;
    font-size: 11px;
    line-height: 9px;
    font-weight: bold;
    letter-spacing: .08em;
    text-transform: uppercase;

    @include transition();

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 17px;
      height: 2px;
      content: '';
      background-color: rgba(255, 255, 255, .8);
      border-radius: 1px;
      transform: translateY(-50%);

      @include transition();
    }

    &:hover {
      padding-left: 43px;

      &:before {
        width: 27px;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
