mixin offer(data)
  .offer.text-white&attributes(attributes)
    .container-fluid
      .offer__type= data.type
      h2= data.title
      if data.text
        p= data.text
      a.btn.btn--link.text-white(href="#")= data.link