
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/tel/tel.pug
include ../blocks/header/header.pug
include ../blocks/front/front.pug
include ../blocks/advantages/advantages.pug
include ../blocks/offer/offer.pug
include ../blocks/event/event.pug
include ../blocks/map/map.pug
include ../blocks/regions/regions.pug
include ../blocks/footer/footer.pug
include ../blocks/office/office.pug
include ../blocks/page-row/page-row.pug
include ../blocks/note/note.pug
include ../blocks/news-head/news-head.pug
include ../blocks/pagination/pagination.pug
include ../blocks/menu-left/menu-left.pug
include ../blocks/aside-news/aside-news.pug
include ../blocks/section/section.pug
include ../blocks/tabs/tabs.pug
include ../blocks/member/member.pug
include ../blocks/info/info.pug