.office {
  position: relative;
  margin-bottom: 60px;
  max-width: 650px;

  @include media-breakpoint-up(md) {
    padding-left: 60px;
  }

  &__count {
    font-size: 12px;
    line-height: 6px;
    font-weight: bold;
    letter-spacing: .1em;
    color: $primary;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 7px;
      left: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }

  &__type {
    margin-bottom: em(12, 12);
    font-size: size-w(12, 1440);
    line-height: size-w(19, 1440);
    letter-spacing: .1em;
    text-transform: uppercase;

    @include media-breakpoint-up(xs) {
      margin-bottom: 13px;
      font-size: 12px;
      line-height: 19px;
    }
  }

  p {
    margin-bottom: em(30, 15);
    font-size: 15px;
    line-height: 22px;

    @include media-breakpoint-up(xs) {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-bottom: 42px;
    padding: 0;
    max-width: 340px;
    list-style: none;

    li {
      padding: 18px 0;
      line-height: 23px;
      border-top: 1px solid rgba(0, 0, 0, .1);

      h6 {
        margin-bottom: 0;
      }
    }
  }
}
