mixin office(data)
  .office&attributes(attributes)
    .office__count= data.count
    .office__type Филиал
    h3= data.name
    p !{data.text}
    if data.list
      ul.office__list
        li: h6 Тосненский
        li: h6 Гатчинский
        li: h6 Ломоносовский
      p А также следующим районам Санкт-Петербурга:
      ul.office__list
        li: h6 Пушкинский
        li: h6 Красносельский