.menu-left {
  margin-bottom: em(30, 12);
  padding: 0;
  list-style: none;

  &____item {
  }

  &__link {
    position: relative;
    margin-bottom: em(35, 12);
    padding-top: 7px;
    padding-right: em(20, 12);
    padding-left: em(0, 12);
    padding-bottom: 7px;
    display: block;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #616161;

    @include transition;

    @include media-breakpoint-up(xs) {
      margin-bottom: 35px;
      padding-right: 20px;
      padding-left: 0;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2px;
      height: 0;
      content: '';
      background: #0094ff;

      @include transition;
    }

    &--active,
    &:hover {
      padding-right: em(0, 12);
      padding-left: em(23, 12);
      color: $dark;

      @include media-breakpoint-up(xs) {
        padding-right: 0;
        padding-left: 23px;
      }

      &:before {
        height: 100%;
      }
    }
  }
}
