mixin menu-left(data)
  ul.menu-left&attributes(attributes)
    for link,i in data.links
      li.menu-left__item
        a(href="#"
          class=(i==data.active) ? 'menu-left__link--active' : ''
        ).menu-left__link= link
