.section {

  &--offers {
    background: linear-gradient(
      to right,
      #003662 0%,
      #003662 49%,
      #003662 49%,
      rgba(0, 63, 115, 1) 49%,
      rgba(0, 63, 115, 1) 100%
    );
  }
}
