.tel {

  &--footer {

    .tel__callback {
      color: rgba(#fff, .4);

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    .tel__link {
      color: #fff;

      span {
        color: #fff;

        @include media-breakpoint-down(xs) {
          color: rgba(255, 255, 255, .66);
        }
      }
    }
  }

  &__link {
    padding-bottom: 5px;
    display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    color: #333;

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      font-size: 16px;
    }

    @media only screen and (max-width: 370px) {
      font-size: 12px;
    }

    &:hover {
      color: #333;
    }

    span {
      color: rgba(51, 51, 51, .66);
    }
  }

  &__callback {
    font-size: 12px;
    color: #24a3ff;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover {
      color: #24a3ff;
    }
  }

  &--contact {
    font-size: 24px;
    font-weight: 700;

    .tel__link {

      @include media-breakpoint-down(sm) {
        font-size: 16px !important;
      }
    }
  }
}
