mixin news-head(data)
  .news-head&attributes(attributes)
    .news-head__img(style=`background-image: url(./img/${data.img})`)
      .news-head__date= data.date
    h3: a(href="#").news-head__title= data.title