.news-head {
  max-width: 650px;
  background: #f3f3f3;

  @include media-breakpoint-down(sm) {
    max-width: none;
  }

  &__date {
    position: absolute;
    top: -74px;
    right: 0;
    bottom: 0;
    width: size-w(216, 1440);
    min-width: 216px;
    height: 74px;
    font-size: 15px;
    line-height: 74px;
    text-align: center;
    color: #fff;
    background: #014277;
    transform: rotate(-90deg);
    transform-origin: right bottom;

    @include media-breakpoint-down(xs) {
      top: auto;
      right: auto;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      transform: none;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    height: size-w(216, 1440);
    min-height: 216px;
    background-position: center center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      min-height: 250px;
    }
  }

  &__title {
    position: relative;
    padding: 30px 85px 30px 40px;
    display: block;

    @include media-breakpoint-down(sm) {
      padding: 20px 15px;
      padding-right: 40px;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 74px;
      content: '';
      background: #dedede;
      background-image: url(../img/arrow-top.svg);
      background-repeat: no-repeat;
      background-position: center center;

      @include media-breakpoint-down(sm) {
        width: 40px;
      }
    }
  }
}
