.info {
  margin-bottom: em(60, 15);
  padding-bottom: em(17, 15);
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  @include media-breakpoint-up(xl) {
    margin-bottom: 59px;
    padding-bottom: 17px;
  }

  @include media-breakpoint-down(md) {
    display: block;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
    padding-bottom: 7px;
  }

  &__left,
  &__name {

    @include media-breakpoint-up(md) {
      max-width: 44.5%;
      flex: 0 0 44.5%;
    }
  }

  &__left {
    padding-right: 50px;
    max-width: none;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
  }

  &__right,
  &__list {

    @include media-breakpoint-up(lg) {
      max-width: 55.5%;
      flex: 0 0 55.5%;
    }

    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: em(28, 15);
    padding-bottom: em(22, 15);
    max-width: 288px;
    font-size: 15px;
    line-height: 20px;
    color: #616161;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    @include media-breakpoint-up(xl) {
      margin-bottom: 28px;
      padding-bottom: 22px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 14px;
      padding-bottom: 12px;
    }

    &:last-of-type {
      margin-bottom: 0;
      border: none;
    }

    small {
      margin-top: 2px;
      margin-bottom: 8px;
      display: block;
      opacity: .6;
      font-size: 12px;
      line-height: 16px;
      color: $dark;
    }

    p {
      margin-bottom: 3px;
    }
  }

  &__right .info__item {
    max-width: 350px;
  }

  &__type {
    margin-bottom: em(14, 12);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: .1em;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      margin-bottom: 14px;
    }
  }

  ol {
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 20px;
    list-style: none;
    counter-reset: num;
    border-bottom: 1px solid #e6e6e6;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }

    li {
      position: relative;
      padding-top: 30px;
      padding-bottom: 15px;
      counter-increment: num;
      border-top: 1px solid #e6e6e6;

      &:after {
        position: absolute;
        z-index: 1;
        top: -6px;
        left: 0;
        display: block;
        width: 25px;
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        content: counter(num) '.';
        color: $dark;
        background-color: #fff;
      }
    }
  }
}
