.footer {
  background: $dark;

  .footer__row {
    display: flex;
    justify-content: space-around;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: size-w(75, 1440) size-w(33, 1440) size-w(50, 1440);
    width: 100%;
    max-width: size-w(330, 1440);
    border-right: 1px solid rgba(#fff, .1);

    @include media-breakpoint-up(xl) {
      padding: 70px 35px 50px;
    }

    &--first {

      @include media-breakpoint-down(md) {
        max-width: 33.333%;
        order: 3;
      }

      @include media-breakpoint-down(xs) {
        padding: 0;
        max-width: 100%;
        border: none;
      }
    }

    &--center {

      @include media-breakpoint-down(md) {
        max-width: 33.333%;
        order: 4;
      }

      @include media-breakpoint-down(xs) {
        padding: 0;
        max-width: 100%;
        border: none;
      }
    }

    &--last {
      border: none;

      @include media-breakpoint-down(md) {
        max-width: 33.333%;
        order: 5;
      }

      @include media-breakpoint-down(xs) {
        padding: 0 0 50px;
        max-width: 100%;
      }
    }
  }

  &__menu {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &-item {
      margin-bottom: size-w(25, 1440);

      @include media-breakpoint-down(xs) {
        margin-bottom: 25px;
      }
    }
  }

  &__link {
    font-size: 16px;
    color: #d8d8d8;

    &:hover {
      color: #d8d8d8;
    }
  }

  &__logo {
    padding: size-w(70, 1440) 0;
    width: 100%;
    max-width: size-w(160, 1440);

    @include media-breakpoint-up(xl) {
      padding: 65px 0;
    }

    @include media-breakpoint-down(md) {
      padding: size-w(75, 1440) 0;
      max-width: 50%;
    }

    @include media-breakpoint-down(xs) {
      padding: 50px 0 30px;
    }
  }

  &__tel {
    padding: size-w(75, 1440) 0;
    width: 100%;
    min-width: 155px;
    max-width: size-w(160, 1440);
    text-align: right;

    @include media-breakpoint-up(xl) {
      padding: 70px 0;
    }

    @include media-breakpoint-down(md) {
      max-width: 50%;
      order: 2;
    }

    @include media-breakpoint-down(xs) {
      padding: 55px 0 30px;
      min-width: unset;
    }
  }

  &__bottom {
    padding: 35px 0;
    border-top: 1px solid rgba(#fff, .1);

    .footer__row {
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }
    }
  }

  &__copyright {
    font-size: 16px;
    color: rgba(#d8d8d8, .5);

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
      font-size: 11px;
    }
  }

  &__develop {
    font-size: 16px;
    color: rgba(#d8d8d8, .7);

    @include media-breakpoint-down(xs) {
      font-size: 13px;
    }

    a {
      color: inherit;
    }
  }
}
