mixin footer(data)
  .footer&attributes(attributes)
    .container-fluid.footer__row
      .footer__logo: +logo
      .footer__item.footer__item--first
        ul.footer__menu
          li.footer__menu-item: a.footer__link(href="#") О компании
          li.footer__menu-item: a.footer__link(href="#") Администрация
          li.footer__menu-item: a.footer__link(href="#") Раскрытые информации
          li.footer__menu-item: a.footer__link(href="#") Вакансии
      .footer__item.footer__item--center
        ul.footer__menu
          li.footer__menu-item: a.footer__link(href="#") Абонентам
          li.footer__menu-item: a.footer__link(href="#") Абонентская служба
          li.footer__menu-item: a.footer__link(href="#") Техническая служба
          li.footer__menu-item: a.footer__link(href="#") Тарифы
          li.footer__menu-item: a.footer__link(href="#") Инвестиционные программы
          li.footer__menu-item: a.footer__link(href="#") Подключение
      .footer__item.footer__item--last
        ul.footer__menu
          li.footer__menu-item: a.footer__link(href="#") Закупки
          li.footer__menu-item: a.footer__link(href="#") Новости
          li.footer__menu-item: a.footer__link(href="#") Контакты
      .footer__tel: .tel.tel--footer
        a.tel__link(href="tel:+78124149252")
          <span>+7 (812)</span> 414-92-52
        a.tel__callback(href="#") Обратная связь
    .footer__bottom  
      .container-fluid.footer__row 
        span.footer__copyright &copy; Ленинградские областные комунальные системы 2018
        span.footer__develop Разработка сайта — 
          a(href="#") its.agency
          