.tabs {

  &__menu-wrap {

    @include media-breakpoint-up(md) {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }

  &__menu {
    position: relative;

    &:before {

      @include media-breakpoint-down(xs) {
        position: absolute;
        top: 0;
        left: 1px;
        width: 1px;
        height: 100%;
        content: '';
        background: rgba(0, 0, 0, .1);
      }
    }
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }

    &--about {
      background-image: url(../img/tabs-about.png);
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }

  &__link {
    position: relative;
    padding-bottom: em(26, 16);
    display: inline-block;
    opacity: .6;
    font-size: 16px;
    line-height: 21px;
    color: #333;

    @include transition;

    @include media-breakpoint-up(xl) {
      margin-right: 75px;
      padding-bottom: 26px;
    }

    @include media-breakpoint-up(lg) {
      margin-right: em(75, 16);
    }

    @include media-breakpoint-down(md) {
      margin-right: 25px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 12px;
      padding-left: 29px;
      padding-bottom: 6px;
      display: block;
      line-height: 30px;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #0094ff;

      @include transition;

      @include media-breakpoint-down(xs) {
        width: 2px;
        height: 0;
      }
    }

    &:hover,
    &--active {
      opacity: 1;
      color: #333;

      &:before {
        width: 100%;

        @include media-breakpoint-down(xs) {
          width: 2px;
          height: 100%;
        }
      }
    }
  }
}
