extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Абонентам
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Абонентская служба','Заключение договоров  холодного водоснабжения и водоотведения','Тарифы','Подключение','Инвестиционные программы','Для зарегистрированных пользователей','Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках'],
              active: 0
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        }).note--left
      .page-row__body
        .container-fluid
          h2 Абонентская служба
          .info
            .info__name
              .info__type Филиал
              h3 «Невский водопровод»
            ul.info__list
              li.info__item
                small Начальник абонентской службы:
                p Петрова Ольга Сергеевна
              li.info__item
                small E-mail
                p abonent@loksys.ru
              li.info__item
                small Телефон/факс
                p +7 (812) 414-92-50, 414-92-51
          .info
            .info__name
              .info__type Филиал
              h3 «Тосненский филиал»
            ul.info__list
              li.info__item
                small Начальник абонентской службы:
                p Поплавская Инна Викторовна
              li.info__item
                small E-mail
                p info.tosno@loksys.ru
              li.info__item
                small Телефон/факс
                p Для абонентов на территории МО:
                p +7 (812) 414-92-50, 414-92-51
                p: span.text-dark Никольское ГП
                p: span.text-dark Ульяновское ГП
                p
                  span.text-dark Красноборское ГП
                  |(частный сектор)
                p +7 (81361) 52-097
                p Для других абонентов
                p +7 (81361) 2-94-90 , 2-91-13
              li.info__item
                small Приемные дни:
                p Вторник, четверг с 08:00 до 17:00

          .info.border-0
            .info__name: h3 Юридическая справка
            .info__list
              p.
                Отпуск питьевой воды и (или) прием
                сточных вод осуществляется на основании публичного договора (статьи 426, 539, 548 Гражданского кодекса Российской Федерации, Постановление Правительства РФ № 644 от 29.07.2013 «Об утверждении Правил холодного водоснабжения и водоотведения», Постановление Правительства РФ № 645 от 29.07.2013 «Об утверждении типовых договоров в области холодного водоснабжения и водоотведения»), который заключается абонентом с АО «ЛОКС».
                <br> <br>
                В соответствии со ст. 2 Федерального закона от 07.12.2011 N 416-ФЗ
                «О водоснабжении и водоотведении», Абонент — физическое либо юридическое лицо, заключившее или обязанное заключить договор холодного водоснабжения и (или) договор водоотведения, единый договор холодного водоснабжения
                и водоотведения.
  +footer