extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 О компании
    .tabs
      .tabs__menu-wrap
        .container-fluid: .tabs__menu
          a.tabs__link.tabs__link--active(href="#tab1") О компании
          a.tabs__link(href="#tab2") Реквизиты
          a.tabs__link(href="#tab3") Администрация
          a.tabs__link(href="#tab4") Раскрытие информации
          a.tabs__link(href="#tab5") Вакансии
      .tabs__content
        #tab1.tabs__item.tabs__item--active.tabs__item--about: .container-fluid.p-0
          .page-row.page-row--about.row.no-gutters.justify-content-between
            .col-12.col-md-4.page-row__aside.page-row__aside--left: .container-fluid
              h2 АО «ЛОКС»
              p.
                Акционерное общество «Ленинградские областные коммунальные системы» предоставляет коммунальные услуги потребителям Ленинградской области
                и Санкт-Петербурга в разрезе двух филиалов.
            .col-12.col-md-7.page-row__aside.page-row__aside--right.bg-light
              .container-fluid
                +office({
                  count: '01',
                  name: 'Невский водопровод',
                  text: 'Предоставляет услуги по водоснабжению потребителям следующих районов Ленинградской области:',
                  list: true
                })
                +office({
                  count: '02',
                  name: 'Тосненский водоканал',
                  text: 'Предоставляет услуги по водоснабжению и водоотведению потребителям <b>Тосненского</b> района с 1 февраля 2008 г.'
                })

        #tab2.tabs__item: .container-fluid: h2.pt-40 Таб Реквизиты
        #tab3.tabs__item: .container-fluid: h2.pt-40 Таб Администрация
        #tab4.tabs__item: .container-fluid: h2.pt-40 Таб Раскрытие информации
        #tab5.tabs__item: .container-fluid: h2.pt-40 Таб Вакансии
    +advantages({
      blue: true
    }).advantages--blue
    .container-fluid
      +member({
        name: 'Василий Медведев',
        role: 'ВРИО Генерального директора АО «ЛОКС»',
        img: 'photo-1.jpg',
        text: 'Акционерное общество «Ленинградские областные коммунальные системы» предоставляет коммунальные услуги потребителям Ленинградской области и Санкт-Петербурга в разрезе двух филиалов.'
      })
  +map().map--page-style
  +footer