extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Абонентам
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Абонентская служба','Заключение договоров  холодного водоснабжения и водоотведения','Тарифы','Подключение','Инвестиционные программы','Для зарегистрированных пользователей','Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках'],
              active: 3
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        }).note--left
      .page-row__body
        .container-fluid
          h2 Подключение
          h3.font-weight-normal Технологическое присоединение к сетям водоснабжения и водоотведения
          .mb-50.mb-sm-100
            p.
              Телефоны и адреса служб, ответственных за прием и обработку заявок (и других документов) на подключение к системе холодного водоснабжения и водоотведения:
            p.
              В этом разделе вы можете ознакомиться с правилами оформления договорных отношений по отпуску питьевой воды, приему сточных вод и загрязняющих веществ,
              а также с формами документов, используемых АО «ЛОКС» для оформления договорных отношений с абонентами.
          .info
            .info__left
              h3.
                Управление инженерного обеспечения
                и капитального строительства
                АО «ЛОКС»
            .info__right
              .info__item
                small.text-muted Адрес:
                p.
                  196625, Санкт-Петербург, пос. Тярлево, Фильтровское шоссе, д. 7, литера Б
              .info__item
                small.text-muted Телефон:
                p +7 (812) 414-92-52
              .info__item
                h6 Для юридических лиц и индивидуальных предпринимателей
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
          .info.mb-50.mb-sm-100
            .info__left
              h3.
                Производственно-
                технический отдел филиала «Тосненский водоканал» АО «ЛОКС»
            .info__right
              .info__item
                small.text-muted Адрес:
                p.
                  187000, Ленинградская область, Тосненский район, г. Тосно, ул. Советская, д. 9, литера А
              .info__item
                small.text-muted Телефон:
                p +7 (81361) 2-29-44

          h2 Получение технических условий на подключение
          p.mb-50.
            В случае если заказчик определил необходимую ему нагрузку, не требуется предварительно получать технические условия: заказчик сразу может обратится
            с заявлением о заключении договора о подключении
          .info.mb-50.mb-sm-100
            .info__left
              h3.
                Для возможности оформления технических условий, заказчик должен предоставить следующие документы и информацию:
            .info__right
              .info__item
                h6 Запрос на выдачу технических условий
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .info__item
                h6 Копии учредительных документов
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
          +note({
            title: 'Обращаем внимание',
            text: 'Получение технических условий в соответствии с Правилами определения и предоставления технических условий подключения объекта капитального строительства к сетям инженерно-технического обеспечения, утвержденными постановлением Правительства РФ от 13.02.2006 N 83, не является обязательной процедурой при подключении к системе холодного водоснабжения и канализации.'
          }).note--right.mb-50.mb-sm-100
          h2 Содержание технических условий
          .info.mb-50.mb-sm-100
            .info__left
              h3.
                Согласно Постановлению Правительства РФ от 13 февраля 2006 года № 83 технические условия должны содержать следующие данные:
            .info__right
              ol
                li: p.
                  Максимальная нагрузка в возможных точках подключения
                li: p.
                  Срок подключения объекта капитального строительства к сетям водопровода и канализации
                li: p.
                  Срок действия технических условий три года. По истечении этого срока параметры выданных технических условий могут быть изменены.
              p.
                В случае смены владельца земельного участка, которому были выданы технические условия, новый владелец вправе воспользоваться этими техническими условиями, уведомив
                об этом АО «ЛОКС». <br> <br> <br>
                После получения технических условий заказчику необходимо обратиться за заключением договора о подключении (технологическом присоединении)
                к централизованной системе холодного водоснабжения
                и договора о подключении (технологическом присоединении)
                к централизованной системе водоотведения.
          +note({
            title: 'Обращаем внимание',
            text: 'В соответствии с п. 16 Правил определения и предоставления технических условий подключения объекта капитального строительства к сетям инженерно-технического обеспечения, утвержденных Постановлением Правительства РФ от 13 февраля 2006 года № 83, обязательства организации, выдавшей технические условия, по обеспечению подключения объекта капитального строительства к сетям инженерно-технического обеспечения в соответствии с такими техническими условиями прекращаются в случае, если в течение 1 года с даты получения технических условий правообладатель земельного участка не определит необходимую ему подключаемую нагрузку и не обратится с заявлением о подключении объекта капитального строительства к сетям инженерно-технического обеспечения.'
          }).note--right.mb-50.mb-sm-100
          h2 Порядок подключения объектов капитального строительства
          p.mb-50.
            Порядок подключения определен Постановлением Правительства Российской Федерации от 29 июля 2013 г. № 644 «Об утверждении Правил холодного водоснабжения и водоотведения».
          .info.mb-50.mb-sm-100
            .info__left
              h3 Включает следующие этапы:
            .info__right
              ol
                li: p.
                  Подача заказчиком заявления
                  о подключении
                li: p.
                  Заключение договора
                  о подключении
                li: p.
                  Выдача исполнителем заказчику условий подключения (технических условий для присоединения)
                li: p.
                  Выполнение заказчиком условий подключения
                li: p.
                  Проверка исполнителем выполнения заказчиком условий подключения
                li: p.
                  Присоединение заказчиком объекта
                  к сетям водопровода и канализации,
                  и подписание сторонами акта
                  о присоединении
                li: p.
                  Выполнение условий подачи ресурсов
              .mb-30.mb-sm-50
                h6.
                  Запрос на заключение договора
                  о подключении и выдачу условий подключения
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .mb-30.mb-sm-50
                h6.
                  Перечень документов, необходимых для подключения объекта капитального строительства к сетям водопровода и канализации установлен пунктом 90 Правил холодного водоснабжения
                  и водоотведения, утвержденных Постановлением Правительства Российской Федерации №644 от 29 июля 2013
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .mb-30.mb-sm-50
                h6.
                  Типовая форма договора
                  о подключении (технологическом присоединении) к централизованной системе холодного водоснабжения
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>

          +note({
            title: 'Обращаем внимание',
            text: 'За подключение объектов капитального строительства взимается плата за подключение в установленном порядке.'
          }).note--right.mb-50.mb-sm-100
          .info
            .info__left
              h3 О подключении
              p.
                В случае, если объект капитального строительства, подключение которого планируется к централизованной системе водоснабжения, расположен в границах следующих муниципальных образований*:
            .info__right
              ol
                li: p.
                  Низинское сельское поселение Ломоносовского района Ленинградской области
                li: p.
                  Коммунарского городского поселения Гатчинского района Ленинградской области
                li: p.
                  Красноборского городского поселения Тосненского района Ленинградской области
          .info.mb-50.mb-sm-100
            .info__left
              p.
                *Возможность подключения объекта капитального строительства
                к централизованной системе водоснабжение, источником которой является магистральный водопровод АО «ЛОКС», должна быть предусмотрена Схемой водоснабжения и водоотведения муниципального образования, разработанной и утвержденной
                в соответствии с  Постановлением Правительства РФ от 5 сентября 2013 г.
                № 782 "О схемах водоснабжения
                и водоотведения".
            .info__right
              p.
                то информацию о стоимости подключения, а также калькуляцию расчета платы за подключаемую нагрузку объекта капитального строительства к централизованным системам холодного водоснабжения (без учета строительства внеплощадочных сетей) Вы можете уточнить в разделе сайта «Инвестиционные программы».
          h2.
            Подача и получение документов
            на подключение к сетям водоснабжения и водоотведения
          .info
            .info__left
              h3.
                Способы подачи документов:
            .info__right
              .info__item
                small.text-muted Лично по адресу:
                p.
                  196625, Санкт-Петербург, пос. Тярлево, Фильтровское шоссе, д. 7, литера Б
                p с 8:30 до 17:30 по будним дням
              .info__item
                p.
                  187000, Ленинградская область, Тосненский район, г. Тосно, ул. Советская, д. 9, литера А
                p с 8:00 до 17:00 по будним дням
              .info__item
                small.text-muted В электронном виде:
                p.
                  (с последующим досылом
                  на бумажном носителе): #[br]
                  e-mail: #[a(href="mailto:info@loksys.ru") info@loksys.ru] 
              .info__item
                small.text-muted Почтой или курьером:
                p.
                  196625, Санкт-Петербург, пос. Тярлево, Фильтровское шоссе, д. 7, литера Б
              .info__item
                small.text-muted Online-заявка
                p (в разработке)
          .info
            .info__left
              h3.
                Способы получения документов:
            .info__right
              .info__item
                small.text-muted Лично по адресу:
                p.
                  196625, Санкт-Петербург, пос. Тярлево, Фильтровское шоссе, д. 7, литера Б
                p с 8:30 до 17:30 по будним дням
              .info__item
                small.text-muted В электронном виде:
                p.
                  (с использованием ЭЦП руководителя предприятия)
                  (в разработке)
  +footer