extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Абонентам
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Абонентская служба','Заключение договоров  холодного водоснабжения и водоотведения','Тарифы','Подключение','Инвестиционные программы','Для зарегистрированных пользователей','Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках'],
              active: 1
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        })
      .page-row__body
        .container-fluid
          h2 Заключение договоров холодного водоснабжения и водоотведения
          p.mb-100.
            В этом разделе вы можете ознакомиться с правилами оформления договорных отношений по отпуску питьевой воды, приему сточных вод и загрязняющих веществ,
            а также с формами документов, используемых АО «ЛОКС» для оформления договорных отношений с абонентами.
          .info
            .info__left
              h3 Формы заявлений на заключение договора
              p.
                Юридическое или физическое
                лицо, желающее заключить
                договор, обращается в АО «ЛОКС»
                с заявлением о заключении договора
            .info__right
              .info__item
                h6 Для правообладателей жилых домов
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .info__item
                h6 Для правообладателей нежилого помещения в жилом фонде
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .info__item
                h6 Для юридических лиц и индивидуальных предпринимателей
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
          .info
            .info__left
              h3 Дополнительные документы
              p.
                К заявлению на заключение договора холодного водоснабжения и водоотведения должны быть приложены документы, предусмотренные пунктами 16 и 17 «Правил холодного водоснабжения и водоотведения», утвержденных постановлением Правительства РФ № 644 от 29.07.2013.
            .info__right
              .info__item
                h6 Перечень необходимых документов
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>

          h3 Важно!
          p.mb-40.
            Для заключения договора необходимо, чтобы объекты либо системы водоснабжения и (или) канализации потенциального абонента имели непосредственное присоединение
            к объектам централизованной системы водоснабжения или водоотведения, принадлежащим АО «ЛОКС» на праве собственности или ином законном основании.
            <br> <br>
            Абоненты, не имеющие непосредственного подключения к объектам централизованной системы водоснабжения или водоотведения, принадлежащим АО «ЛОКС» на праве собственности или ином законном основании, обязаны представить акт разграничения эксплуатационной ответственности с лицами/организациями, владеющими на праве собственности или ином законном основании водопроводными и (или) канализационными сетями, за исключением случаев, если объекты таких абонентов подключены к бесхозяйным сетям, а также если осуществляется неорганизованный сброс поверхностных сточных вод
            с территорий абонентов в централизованную систему водоотведения.
            <br> <br>
            Основные нормативные правовые акты, регламентирующие оформление договорных отношений по отпуску питьевой воды и приему сточных вод можно посмотреть <a href="#">здесь</a>.
          h6.
            Информация для собственников нежилых помещений, расположенных в многоквартирных домах
          a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
  +footer