extends ../templates/template.pug
block content
  +header().header--home
  main
    +front
    +advantages
    section.section.section--offers
      .container-fluid.p-0.offer__container: .row.no-gutters
        .col-12.col-sm-6.offer--dark: +offer({
          type: 'Инвестиционные программы',
          title: 'Услуги водоснабжения в Санкт-Петербурге  и области',
          link: 'Расчитать стоимость'
        })
        .col-12.col-sm-6.offer--light: +offer({
          type: 'о компании',
          title: 'Раскрытие информации',
          text: 'Общая информация, подлежащая раскрытию по филиалу',
          link: 'Смотреть'
        })
    .container-fluid.pt-75.pt-md-120
      h2 Новости и события
    section.section--events
      .container-fluid.p-0: .row.no-gutters.justify-content-between
        .col-12.col-sm-6: .container-fluid.event__wrapper
          +event({
            day: 22,
            month: 'Ноября 2018',
            title: 'В Русско-Высоцком восстановлено водоснабжение',
            text: 'Ремонтные работы по замене задвижки на 400 миллиметровой трубе были закончены вечером 22 ноября. С 10 часов утра 23 ноября подача воды...'
          })
          +event({
            day: 19,
            month: 'Ноября 2018',
            title: 'Ленобласть – за чистые озера',
            text: 'Байкальский водный форум стартует завтра, \n' +
              'но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...'
          })
          +event({
            day: 14,
            month: 'Ноября 2018',
            title: 'XI Конференция водоканалов России на Камчатке завершила свою работу',
            text: 'За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний \n' +
              'и круглых столов выслушали... '
          })
          +event({
            day: 12,
            month: 'Ноября 2018',
            title: 'АО "ЛОКС" - на конференции водоканалов России',
            text: 'Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором'
          })
          a(href="#").text-uppercase: small.font-weight-bold Все новости
        .col-12.col-sm-5
          +aside-news
  +map
  +footer