extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="home.html", style="font-size: 20px;") Главная
            a.d-block.my-20(href="about.html", style="font-size: 20px;") О компании
            a.d-block.my-20(href="abonents.html", style="font-size: 20px;") Абонентам
            a.d-block.my-20(href="contract.html", style="font-size: 20px;") Заключение договора
            a.d-block.my-20(href="connection.html", style="font-size: 20px;") Подключение
            a.d-block.my-20(href="news.html", style="font-size: 20px;") Новости

