extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Новости
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Новости', 'СМИ о нас'],
              active: 0
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        })
      .page-row__body.left-border
        .container-fluid
          +news-head({
            img: 'news-head.jpg',
            title: 'В Русско-Высоцком восстановлено водоснабжение',
            date: '22 ноября 2018'
          })
          .top-border.mt-65
          .row: .col-lg-9.col-xl-8
            +event({
              day: 19,
              month: 'Ноября 2018',
              title: 'Ленобласть – за чистые озера',
              text: 'Байкальский водный форум стартует завтра, \n' +
                'но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...'
            })
            +event({
              day: 14,
              month: 'Ноября 2018',
              title: 'XI Конференция водоканалов России на Камчатке завершила свою работу',
              text: 'За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний \n' +
                'и круглых столов выслушали... '
            })
            +event({
              day: 12,
              month: 'Ноября 2018',
              title: 'АО "ЛОКС" - на конференции водоканалов России',
              text: 'Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором'
            })
            +event({
              day: 19,
              month: 'Ноября 2018',
              title: 'Ленобласть – за чистые озера',
              text: 'Байкальский водный форум стартует завтра, \n' +
                'но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...'
            })
            +event({
              day: 14,
              month: 'Ноября 2018',
              title: 'XI Конференция водоканалов России на Камчатке завершила свою работу',
              text: 'За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний \n' +
                'и круглых столов выслушали... '
            })
            +event({
              day: 12,
              month: 'Ноября 2018',
              title: 'АО "ЛОКС" - на конференции водоканалов России',
              text: 'Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором'
            })
            +pagination()
  +footer