mixin event(data)
  .event&attributes(attributes)
    .event__date
      span.event__day= data.day
      span.event__month= data.month
    .event__content
      h3: a(href="#")= data.title
      p= data.text