.event {
  padding-top: size-w(63, 1440);
  display: flex;

  @include media-breakpoint-up(xl) {
    padding-top: 63px;
  }

  @include media-breakpoint-only(xs) {
    display: block;
  }

  &__wrapper {
    padding-bottom: 63px;
  }

  &:last-of-type {
    margin-bottom: size-w(63, 1440);

    @include media-breakpoint-up(xl) {
      margin-bottom: 63px;
    }
  }

  &__date {
    margin-right: size-w(61, 1440);
    display: flex;
    min-width: 110px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include media-breakpoint-only(xs) {
      margin-top: 28px;
      margin-bottom: 14px;
      display: block;
      font-size: 13px;
      line-height: normal;
      color: #898989;
    }
  }

  &__day {
    margin-bottom: 15px;
    font-size: size-w(92, 1440);
    line-height: .8;
    font-weight: bold;
    color: $primary;

    @include media-breakpoint-only(xs) {
      padding-right: 3px;
      display: inline;
      font-size: 13px;
      line-height: normal;
      font-weight: normal;
      color: #898989;
    }
  }

  &__content {
    // padding-bottom: size-w(73, 1440);

    h3 {

      @include media-breakpoint-only(xs) {
        font-size: 18px;
      }
    }

    // @include media-breakpoint-only(xs) {
    //   padding-bottom: 28px;
    // }
  }
}
