mixin front(data)
  .front&attributes(attributes)
    .container-fluid: .row.no-gutters
      .col-12.col-sm-6
        .front__type.text-uppercase акционерное общество
        h1 Ленинградские областные коммунальные системы
        p Услуги водоснабжения в 5 районах Санкт-Петербурга и Ленинградской области
        a.btn.btn--front.text-white(href="#") Подробнее об услугах 
      .col-12.col-sm-6
        video.front__video(autoplay="autoplay" loop="loop")
          source(src="./img/front.mp4" type="video/mp4")
        