.front {
  padding: size-w(110, 1440) 0;
  background: #003f73;

  @include media-breakpoint-up(xl) {
    padding: 110px 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  &__type {
    margin-bottom: size-w(30, 1440);
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .12em;
    color: rgba(#fff, .7);
  }

  h1 {
    margin-bottom: size-w(40, 1440);
    font-size: size-w(48, 1440);
    color: #fafafa;

    @include media-breakpoint-up(xl) {
      font-size: 48px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  p {
    margin-bottom: size-w(30, 1440);
    width: 100%;
    max-width: 320px;
    color: rgba(#fafafa, .7);
  }

  &__video {
    width: 100%;
  }

  .col-12 {

    &:first-of-type {

      @include media-breakpoint-down(xs) {
        order: 2;
      }
    }
  }
}
