.note {

  .container-fluid {
    padding-top: size-w(84, 1440);
    padding-bottom: size-w(103, 1440);

    @include media-breakpoint-up(xl) {
      padding-top: 84px;
      padding-bottom: 103px;
    }
  }

  &--left {

    .container-fluid {
      padding-right: size-w(55, 1440);
      padding-left: size-w(79, 1440);

      @include media-breakpoint-up(xl) {
        padding-right: 55px;
        padding-left: 79px;
      }
    }
  }

  &--right {

    @include media-breakpoint-down(xs) {
      margin-right: -15px;
      margin-left: -15px;
    }

    .container-fluid {
      padding-right: size-w(228, 1440);
      padding-left: size-w(109, 1440);

      @include media-breakpoint-up(xl) {
        padding-right: 228px;
        padding-left: 109px;
      }

      @include media-breakpoint-down(xs) {
        padding: 30px 20px;
      }
    }
  }

  p {
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
  }
}
