.member {
  padding-top: 120px;
  padding-bottom: 120px;

  @include media-breakpoint-down(sm) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__img-wrap {
    margin-right: em(100, 15);
    display: inline-block;
    width: 50%;
    max-width: 550px;
    vertical-align: top;

    @include media-breakpoint-up(xl) {
      margin-right: 100px;
    }

    @include media-breakpoint-down(md) {
      margin-right: em(50, 15);
      width: 50%;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-bottom: 45px;
      width: 100%;
    }
  }

  &__content {
    display: inline-block;
    width: calc(50% - 105px);
    vertical-align: top;

    @include media-breakpoint-down(md) {
      width: calc(50% - 55px);
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    h2 {
      margin-bottom: em(10, 36);
      font-size: size-w(34, 1440);

      @include media-breakpoint-up(xl) {
        margin-bottom: 10px;
        font-size: 36px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 21px;
      }
    }

    p {

      @include media-breakpoint-up(md) {
        max-width: 410px;
      }
    }
  }

  &__role {
    margin-bottom: em(25, 14);
    font-size: 12px;
    line-height: em(19, 14);
    letter-spacing: .02em;

    @include media-breakpoint-up(xl) {
      margin-bottom: 10px;
      padding-top: 73px;
      font-size: 14px;
      line-height: 19px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: em(75, 14);
      font-size: size-w(14, 1440);
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 16px;
    }
  }
}
