mixin member(data)
  .member&attributes(attributes)
    .member__img-wrap: img(src=`./img/${data.img}` alt="")
    .member__content
      .member__role= data.role
      h2= data.name
      p= data.text