mixin map(data)
  .map&attributes(attributes)
    .container-fluid.pt-60: h2 География деятельности компании
    .container-fluid.p-0.position-relative: +regions
    .map__container#map
      script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap" type="text/javascript" async)
      script(type="text/javascript").
        function initMap() {
          var map;
          map = new ymaps.Map("map", {
              center: [59.942417, 30.358098],
              controls: [],
              zoom: 13
            }
          );

          map.behaviors.disable('scrollZoom');
          map.behaviors.disable('multiTouch');
          if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            map.behaviors.disable('drag');
          }
        }