.map {

  &--page-style {

    h2 {
      text-align: center;
    }

    .regions {
      top: -107px;

      @include media-breakpoint-down(md) {
        top: 0;
      }
    }
  }

  &__container {
    width: 100%;
    height: 630px;

    @include media-breakpoint-down(xs) {
      height: 590px;
    }

    [class*='ymaps-2'][class*='-ground-pane'] {
      -webkit-filter: grayscale(100%) brightness(15%);
    }
  }

  h2 {
    margin-bottom: 48px;
  }
}
