.advantages {
  padding: 0 size-w(80, 1440);
  display: flex;
  width: 100%;
  max-width: 85%;
  background: #f7f7f7;

  @include media-breakpoint-up(xl) {
    padding: 0 80px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 size-w(40, 1440);
  }

  @include media-breakpoint-down(xs) {
    padding: 10px 40px 10px 20px;
    max-width: 90%;
    flex-wrap: wrap;
  }

  &--blue {
    background: $primary;

    @include media-breakpoint-down(sm) {
      padding: 10px 40px 10px 20px;
      max-width: 90%;
      flex-wrap: wrap;
    }

    .advantages__item {
      width: auto;
      max-width: none;

      &:first-child {
        padding: size-w(70, 1440) 0;
        width: 340px;

        @include media-breakpoint-up(xl) {
          padding: 70px 0;
          width: 340px;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      &:after {
        background: rgba(#fff, .2);

        @include media-breakpoint-down(sm) {
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
        }
      }

      p {
        color: rgba(#fff, .7);
      }

      @include media-breakpoint-down(sm) {
        padding: size-w(70, 1440) 0;
        width: 100%;
        max-width: 100%;
      }
    }

    h2 {
      margin-top: -8px;
      margin-bottom: 0;
      font-size: 36px;
      line-height: 41px;
      color: #fff;
    }

    .advantages__num {
      height: 40px;
      line-height: 25px;
      color: #fff;
    }
  }

  &__item {
    position: relative;
    padding: size-w(70, 1440) size-w(50, 1440);

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 105px;
      content: '';
      background: rgba(#161616, .2);

      @include media-breakpoint-down(xs) {
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
    }

    &:last-child {

      &:after {
        display: none;
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 70px 60px;
      width: 100%;
      max-width: 390px;
    }

    @include media-breakpoint-down(xs) {
      padding: size-w(70, 1440) 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &__top {
    margin-bottom: 20px;
    font-size: 11px;
    color: rgba(#161616, .6);
  }

  &__num {
    font-size: size-w(48, 1440);
    line-height: em(25, 36);
    font-weight: bold;
    color: $primary;

    @include media-breakpoint-up(xl) {
      font-size: 48px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 48px;
    }

    small {
      font-size: 11px;
      font-weight: normal;
    }
  }

  p {
    width: 100%;
    max-width: 200px;
    font-size: 15px;
    line-height: 20px;
    color: rgba(#161616, .7);
  }

  &__wrapper {
    background: linear-gradient(
      to right,
      #f7f7f7 0%,
      #f7f7f7 49%,
      #f7f7f7 49%,
      rgba(0, 63, 115, 1) 49%,
      rgba(0, 63, 115, 1) 100%
    );
  }
}
