mixin advantages(data)
  if !data
    .advantages__wrapper
      .container-fluid.p-0: .advantages&attributes(attributes)
        .advantages__item
          .advantages__top.text-uppercase БОЛЕЕ
          .advantages__num 200 <small>КМ</small>
          p Протяжённость магистральных водоводов
        .advantages__item
          .advantages__top.text-uppercase БОЛЕЕ
          .advantages__num 115 000 <small>М3</small>
          p Объём производства питьевой воды в сутки
        .advantages__item
          .advantages__top.text-uppercase ДО
          .advantages__num 300 000 <small>ЧЕЛ.</small>
          p Количество потребителей
  else
    if data.blue
      .container-fluid.p-0: .advantages&attributes(attributes)
        .advantages__item
          h2 ЛОКС<br>в цифрах
        .advantages__item
          .advantages__num 305
          p Клиентов
        .advantages__item
          .advantages__num 1200 <small>км</small>
          p Обслуживаемая территория
        .advantages__item
          .advantages__num 580 <small>км</small>
          p Длина обслуживаемого водопровода
