.aside-news {
  padding-top: 63px;
  padding-right: size-w(37, 1440);
  padding-left: size-w(56, 1440);
  padding-bottom: 74px;
  background-color: #f2f2f2;

  @include media-breakpoint-up(xl) {
    padding-right: 37px;
    padding-left: 56px;
    padding-bottom: 72px;
  }

  &__block {
    margin-bottom: size-w(36, 1440);
    padding-bottom: size-w(36, 1440);
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    @include media-breakpoint-up(xl) {
      margin-bottom: 32px;
      padding-bottom: 40px;
    }

    @include media-breakpoint-only(xs) {
      margin-bottom: 36px;
      padding-bottom: 36px;
    }

    time {

      @include media-breakpoint-only(xs) {
        font-size: 13px;
      }
    }

    h2 {
      margin-bottom: 0;
      padding-top: em(24, 21);
      padding-bottom: 26px;
      font-size: size-w(21, 1440);

      @include media-breakpoint-up(xl) {
        padding-top: 24px;
        font-size: 21px;
      }

      @include media-breakpoint-only(xs) {
        padding-bottom: 32px;
        font-size: 18px;
        line-height: 22px;
      }
    }

    a {

      @include media-breakpoint-only(xs) {
        font-size: 14px;
      }
    }
  }
}
