mixin aside-news(data)
  .container-fluid.aside-news&attributes(attributes)
    h2 СМИ о нас
    .aside-news__block
      time(datetime="2018-11-20") 20 ноября 2018
      h2 За мячом – на каяке
      a(href="#").font-weight-bold   Газета труд
    .aside-news__block
      time(datetime="2018-11-19") 19 ноября 2018
      h2 Кубок России по кануполо ушел в Ленинградскую область
      a(href="#").font-weight-bold 47 NEWS
    .aside-news__block
      time(datetime="2018-11-20") 20 ноября 2018
      h2 Отравление грязной водой, или рак чувствует все
      a(href="#").font-weight-bold 47 NEWS
    .aside-news__block
      time(datetime="2018-11-16") 16 ноября 2018
      h2 В Никольском восстановили подачу воды в 15 домов...
      a(href="#").font-weight-bold 47 NEWS
    a(href="#").font-weight-bold Все статьи