.page-row {
  display: flex;

  @include media-breakpoint-only(xs) {
    flex-direction: column;
  }

  &--gray {
    padding-top: 40px;
    background-color: #f3f3f3;

    @include media-breakpoint-up(md) {
      padding-top: size-w(80, 1440) !important;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 80px !important;
    }
  }

  &__aside {
    padding-top: em(152, 15);

    @include media-breakpoint-up(xs) {
      margin-bottom: 40px;
      padding-top: 152px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 47px;
    }
  }

  &__aside--left {

    h2 {
      margin-bottom: em(40, 36);

      @include media-breakpoint-up(xl) {
        margin-bottom: 40px;
      }
    }

    p {
      font-size: 16px;
      line-height: 25px;
      color: #616161;
    }
  }

  &__nav {
    width: 446px;
    min-width: 320px;
    flex-shrink: 0;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      width: 320px;
    }

    @include media-breakpoint-only(xs) {
      width: 100%;
    }

    h5 {
      margin-bottom: 0;
    }
  }

  &__body {
    padding-bottom: 150px;
    width: auto;

    @include media-breakpoint-down(md) {
      padding-left: 15px;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }

    &--left-border {

      @include media-breakpoint-up(sm) {
        border-left: 1px solid rgba(31, 31, 31, .1);
      }
    }

    @include media-breakpoint-only(xs) {
      width: 100%;
    }

    .container-fluid {
      padding-top: 40px;

      @include media-breakpoint-up(md) {
        padding-top: size-w(80, 1440) !important;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 80px !important;
      }
    }
  }
}
