.menu {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  &__item {
    padding-left: 40px;

    @include media-breakpoint-down(md) {
      padding-left: 25px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-left: 0;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(51, 51, 51, .8);

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 21px;
      font-weight: normal;
      text-transform: none;
      color: rgba(51, 51, 51, .8);
    }

    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 1px;
      content: '';
      background-color: #333;

      @include transition;
    }

    &:hover {
      color: #333;

      &:after {
        width: 100%;
      }
    }
  }
}
