mixin menu(data)
  ul.menu&attributes(attributes)
    li.menu__item: a.menu__link(href="#") О компании
    li.menu__item: a.menu__link(href="#") Абонентам
    li.menu__item: a.menu__link(href="#") Закупки
    li.menu__item: a.menu__link(href="#") Новости
    li.menu__item: a.menu__link(href="#") Контакты