.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: #fff;

  @include media-breakpoint-down(sm) {
    height: 60px;
  }

  &--home {
    background-color: $secondary;

    @include transition();

    &.open {
      background-color: #003662;
    }

    .menu__link {
      color: rgba(255, 255, 255, .8);

      &:hover {
        color: #ffffff;
      }

      &:after {
        background-color: #ffffff;
      }
    }

    .header__login {
      background: transparent url(../img/login-icon-home.svg) 0 0 no-repeat;
    }

    .tel__link {
      color: #ffffff;

      span {
        color: rgba(255, 255, 255, .66);
      }
    }

    .header__btn-menu {
      background: transparent url(../img/hamburger-home.svg) 0 0 no-repeat;
    }

    .header__btn-menu--active {
      background: transparent url(../img/hamburger-close-home.svg) 0 0 no-repeat;
    }

    .header__menu-wrap {

      @include media-breakpoint-down(sm) {
        background-color: #003662;
      }
    }

    .header__menu-bottom {
      background-color: #003f73;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__menu-wrap {
    padding-left: 65px;

    @include media-breakpoint-up(md) {
      display: block !important;
    }

    @include media-breakpoint-down(sm) {
      position: fixed;
      z-index: 1001;
      top: 60px;
      left: 0;
      padding: 10px 15px 15px;
      display: none;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #fff;
    }
  }

  &__menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    display: none;
    width: 100%;
    text-align: center;
    background-color: $primary;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__login {
    margin-left: 50px;
    display: block;
    width: 22px;
    height: 22px;
    background: transparent url(../img/login-icon.svg) 0 0 no-repeat;
    align-self: flex-start;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--text {
      margin: 0;
      padding-left: 32px;
      display: inline-block;
      width: auto;
      font-size: 11px;
      line-height: 22px;
      text-transform: uppercase;
      color: #ffffff;
      background: transparent url(../img/login-icon-home.svg) 0 0 no-repeat;

      &:hover {
        color: #ffffff;
      }

      @include media-breakpoint-down(sm) {
        display: inline-block;
      }
    }
  }

  &__btn-menu {
    margin-left: 25px;
    display: none;
    width: 30px;
    height: 30px;
    background: transparent url(../img/hamburger.svg) 0 0 no-repeat;

    &--active {
      background: transparent url(../img/hamburger-close.svg) 0 0 no-repeat;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
