mixin header(data)
  .header&attributes(attributes)
    .container-fluid.header__row
      .header__left
        +logo
        nav.header__menu-wrap
          +menu
          .header__menu-bottom
            a.header__login.header__login--text(href="#") личный кабинет
      .header__right
        .tel
          a.tel__link(href="tel:+78124149252")
            <span>+7 (812)</span> 414-92-52
          a.tel__callback(href="#") Обратная связь
        a.header__login(href="#")
        button.header__btn-menu
